site
*~
__pycache__
.cache
/.vs/galgos/CopilotIndices/17.14.1091.29919/CodeChunks.db
/.vs/galgos/CopilotIndices/17.14.1091.29919/CodeChunks.db-shm
/.vs/galgos/CopilotIndices/17.14.1091.29919/CodeChunks.db-wal
/.vs/galgos/CopilotIndices/17.14.1091.29919/SemanticSymbols.db
/.vs/galgos/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-shm
/.vs/galgos/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-wal
/.vs/galgos/FileContentIndex/53a0fcaf-c10d-47b0-8441-c8b3d2d1953c.vsidx
/.vs/galgos/v17/.wsuo
/.vs/galgos/v17/DocumentLayout.backup.json
/.vs/galgos/v17/DocumentLayout.json
/.vs/galgos/FileContentIndex
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
