site
*~
__pycache__
.cache
/.vs
/.vs/galgos
/.vs/galgos/CopilotIndices/17.14.1091.29919
/.vs/galgos/CopilotIndices/17.14.1091.29919/CodeChunks.db
/.vs/galgos/CopilotIndices/17.14.1091.29919/CodeChunks.db-shm
/.vs/galgos/CopilotIndices/17.14.1091.29919/CodeChunks.db-wal
/.vs/galgos/CopilotIndices/17.14.1091.29919/SemanticSymbols.db
/.vs/galgos/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-shm
/.vs/galgos/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-wal
/.vs/galgos/FileContentIndex
/.vs/galgos/FileContentIndex/07d21e93-e2ff-4fa1-8ede-973672b841a1.vsidx
/.vs/galgos/FileContentIndex/4260fd63-443e-41be-8f1d-acdc03eb1a98.vsidx
/.vs/galgos/FileContentIndex/5ac39793-b825-470c-a423-6c18818949a7.vsidx
/.vs/galgos/FileContentIndex/d829e137-d481-499b-b6e7-131fd8a71d31.vsidx
/.vs/galgos/FileContentIndex/e9a76999-19ee-46f3-b1c3-3417e54b1c14.vsidx
/.vs/galgos/CopilotIndices/17.14.1091.29919/CodeChunks.db
/.vs/galgos/CopilotIndices/17.14.1091.29919/CodeChunks.db-shm
/.vs/galgos/CopilotIndices/17.14.1091.29919/CodeChunks.db-wal
/.vs/galgos/CopilotIndices/17.14.1091.29919/SemanticSymbols.db
/.vs/galgos/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-shm
/.vs/galgos/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-wal
/.vs/galgos/FileContentIndex/53a0fcaf-c10d-47b0-8441-c8b3d2d1953c.vsidx
/.vs/galgos/v17/DocumentLayout.backup.json
/.vs/galgos/FileContentIndex
